.vue-page .pagination li.current a{
	color: #fff;
	background-color:#f60; 
}
.vue-page .pagination li a{
	border:1px solid #f90;
	color:#333; 
}
.vue-page .pagination li a:hover{
	background-color:#f60; 
	color:#fff; 
}
.vue-page{
	overflow: auto;
	text-align: center;
}
