.jumbotron h1{
	position: absolute;
	top:40%;
	left:50%;
}
body{
	margin:0px;
	padding:0px;
	font-family: "Comic Sans MS",Helvetica,"lucida grande","lucida sans unicode",lucida,"Hiragino Sans GB","Microsoft JHengHei","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	font-size: 12px;
}
.jumbotron{
	margin: 0px;
	padding: 0px;
}