extends ../layout

block content
	link(href='/stylesheets/blog/style.css',rel='stylesheet')
	link(href='/compoments/page.css',rel='stylesheet')
	script(src='/compoments/page.js')
	.container
		#app
			ul(v-for="x in colRange",v-bind:class="className")
				li.bloglist-item(v-for='(index,item) in list' v-show='index%cols==(x-1)' @click='viewDetail(item)')
					.blog-title
						|{{item.title}}
					.publish-time
						|{{item.time}}
					img(v-bind:src='item.img')
					.blog-content
						|{{item.summary}}
						input(type='hidden',v-bind:value='item.blogId')
		#page
			vue-page
	script.
		var bloglist = new Vue({
			el:'#app',
			data:{
				cols:3,
				list:null,
				colRange:[],
				className:'',
			},
			watch:{
				cols:function(){
					this.updateCols();
				},
			},
			methods:{
				updateCols:function(){
					this.colRange = [];
					for(var i=1;i<=this.cols;i++){
						this.colRange.push(i);
					}
					this.className = 'col-md-'+(12/this.cols);
				},
				viewDetail:function(item){
					$.ajax({
						
					})
				}
			},
			compiled:function(){
				this.updateCols();
			}
		});
		var page = new Vue({
			el:'#page',
		});
		var config = {
			totalPage:5,
			currentPage:1,
			pageSize:9,
			showCount:5,
			hook:{
				onchangePage:function(currentPage){
					$.ajax({
						url:'/blog/getbloglist?page='+currentPage+'&pageSize='+config.pageSize,
						type:'GET',
						success:function(result){
							bloglist.list = result.bloglist;
							config.totalPage = Math.ceil(result.count/config.pageSize);
							config.currentPage = currentPage;
							page.$broadcast("update",config);
							window.scrollTo(0, 0);
						}
					})
				},
			}
		};
		page.$broadcast("update",config);
		